/*

ART FACTORY

https://templatemo.com/tm-537-art-factory

*/

/* 
---------------------------------------------
Table of contents
---------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. team
08. pricing
09. blog
10. contact
11. footer
12. preloader

--------------------------------------------- 
*/

/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
figure,
nav,
section,
article,
aside,
header,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

row{
  width: 100%;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}



header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}




p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 25px;
  color: #4a4a4a;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #ff589e;
  color: #fff;
}

::-moz-selection {
  background: #ff589e;
  color: #fff;
}

@media (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #0088e8;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #00b4c6;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #0088e8;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: black;
}

.section-heading h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  color: #232323;
  margin-bottom: 20px;
}

.section-heading p {
  font-size: 17px;
  color: #777;
  text-align: center;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background-color:black;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #1e1e1e !important;
}

.background-header .main-nav .nav > li:hover > a {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #f55858 !important;
}

.background-header .main-nav .nav > li > ul > li:hover > a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0px;

  list-style: none;
  color: #f55858 !important;
}

.background-header .nav li a.active {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #f55858 !important;
}

.header-area {
  background: white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 50px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color:rgb(52, 189, 243);
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .name {
  padding-left: 450px;
  line-height: 80px;
  color:white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  font-weight: 500;
  font-size: 13px;
  color:white;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #f55858;
}



.header-area .main-nav .nav li.submenu ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  background: #fff;
  color: #3b566e;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
}

.header-area .main-nav .nav li.submenu ul li a:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
  content: "";
  position: absolute;
  width: 0px;
  height: 40px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f55858;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #fff;
  color: #f55858;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  margin-bottom: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #f55858;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    margin: 0;
   padding: 0;
    border: 0;
   outline: 0;
    padding: 0;
    margin: 0;
  list-style: none;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    padding: 0;
  margin: 0;
  list-style: none;
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    padding: 0;
  margin: 0;
  list-style: none;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    padding: 0;
  margin: 0;
  list-style: none;
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #3b566e !important;
  }
  .header-area .main-nav .nav li a:hover {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    background: #eee !important;
  }
  .header-area .main-nav .nav > li > a:hover,
  .header-area .main-nav .nav .submenu > ul > li > a:hover {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    margin-bottom: 0px;
    padding: 0;
  margin: 0;
  list-style: none;
    color: #f55858;
  }
  .header-area .main-nav .nav li.submenu ul {
    margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
    padding: 0;
   margin: 0;
   list-style: none;
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    margin-bottom: 0px;
    padding: 0;
  margin: 0;
  list-style: none;
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    margin-bottom: 0px;
    padding: 0;
  margin: 0;
  list-style: none;
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    margin-bottom: 0px;
    padding: 0;
  margin: 0;
  list-style: none;
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    color: #3b566e;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 0px;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}
div.list{
  top:100px;
  position: relative;
}
div.list ul{
  flex-wrap: wrap;
  left: 30px;
  font-size: large;
  display:block;
  position: relative;
}
div.list li{
  flex-wrap: wrap;
  left: 10px;
  top: 10px;
  font-size: large;
  display:block;
  position: relative;
}


.card {
  width: 1400px;
  height: fit-content;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}


.card:last-of-type {
 margin-bottom:100px ;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #4C5656;

  z-index: 1000;
  transition: color 0.3s ease-out;
}
.card-body{
    text-align: start;
    width: auto;
    height: fit-content;

}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle img {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute; 
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.list{
  position: relative;
  padding-top: 8px;
  background-color: #f2f7f8;
  margin-left: 10px;
  width: 100%;
  height: fit-content;
  align-items: center;
}



.topic p{
  margin-top: 10px;
  height: 60px;
  width: 100%;
  font-weight: 1000;
  margin-top: 150px;
  margin-left: 42%;
  font-size: xx-large;
  position: relative;
}

.submenu p{
  background-color: white;
}
.img-xs {
  width: 40px;
  min-width: 32px;
  height: 40px; 
}
section {
  position: relative;
  padding: 100px 0;
}

#team,
#testimonial {
  background: #f9f9f9;
}



.section-title {
  padding-bottom: 40px;
  text-align: center;
}

.section-title h2 {
  margin: 0;
}

.section-title small {
  display: block;
}

.section-btn {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  transition: 0.5s;
}

.section-btn:hover {
  background: #ffffff;
  border-color: transparent;
}
.team-thumb {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  text-align: left;
  margin-bottom: 20px;
}

.team-info {
  padding: 20px 30px;
}

.team-image img {
  width: 100%;
  height: 200%;
}

.team-thumb .social-icon {
  border-top: 1px solid #f0f0f0;
  padding: 4px 20px 0 20px;
}

.team-thumb .social-icon li a {
  background: #ffffff;
  color: #252020;
}

.team-info h3 {
  margin: 0;
} 








.box input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.box p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow:ellipsis;
}
.box input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
}
.box input:checked + p {
  -webkit-line-clamp: unset;
}
.box input:checked ~ label {
  display: none;
}

/* From here on presentation styles */


.box {
  background-color: #fff;
  box-shadow: 2px 2px 10px #363b3a;
  text-overflow: ellipsis;
  padding: 2em;
  width: 1300px;
}
.box p {
  margin: 0;
}
.box label {
  border-radius: 4px;
  padding: 0.2em 0.6em;
  border: 1px solid #009ce2;
  background-color: #00acff;
  color: #fff;
  font-size: 0.8em;
}
.page-wrapper{

}

.container-fluid{
    margin-top: 150px;
}