<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stacks</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <p>Here are the some of questions.</p>

    <% for(var i=0; i < question.length; i++) { %>


         <p class="box"><a href="<%= question[i].link %>"><%= question[i].name %></a></p>


    <% } %>

  </body>
</html>
