<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
     



     <!-- MAIN CSS -->
     <!-- <link rel="stylesheet" href="/css/templatemo-style.css"> -->

</head>
<body>
  <section id="team">
    <div class="container">
         <div class="row">

    <!-- <div class="col-md-12 col-sm-12">
         <div class="section-title">
              <h2>Topics<small>Practice from some topics </small></h2>
         </div>
    </div> -->
    <div class="col-md-3 col-sm-6">
        <div class="team-thumb">
             <div class="team-info">
                  <h3><a href="#">hey buddy</a></h3>
             </div>
        </div>
        </div>
            
      </div>
    </section>
</body>
</html>