<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(var i=0; i < data.length; i++) { %>
       <p> <a href ="/<% data[i].name %>"></a><%- data[i].name %> </p>
        <% } %>
    <button><a href = "/check">Add Question</a></button>
</body>
</html>