<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminpanel</title>
</head>
<body>
    <p><a href="/admintopics">Topic</a></p>
    <p><a href="/blogs">Experience</a></p>
</body>
</html>