<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="../css/stylem.css">
    
</head>
<body>
    <div class="container">
    <h1>
        <tr>
            <button> <a href="/logout">Log out</a></button>  
        </tr>
    </h1>
</div>
    
</body>
</html>