<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="../css/stylem.css">
</head>
<body>
    <h1>
        <button> <a href="/logout">Log out</a></button>        
    </h1>
<table class="table table-inverse">
    <tbody>
        <ul>
      <% for(var i=0; i < topic.length; i++) { %>
      <tr>
       <li> <a href="topic/<%= topic[i]._id %>" ><%= topic[i].topicName %></a></li>
      </tr>
      <% } %>
      </ul>
    </tbody>
  </table>
</body>

</html>