<!DOCTYPE html>
<html>
    
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/main.png">

    <title>interview tracker</title>
<!--

ART FACTORY
https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link href="css/board.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../css/new.css">
    <link rel="stylesheet" type="text/css" href="../css/owl-carousel.css">
    
</head>
<body>
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">Interview Tracker</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    
                    <ul class="nav">
                        <li class="submenu">
                            <a href="javascript:;"><img class="img-xs rounded-circle" src="data:image/<%=user.image.contentType%>;base64,<%=user.image.data.toString('base64')%>" alt="Profile image"></a>
                            <ul>
                                <p><strong><%= user.username %></strong></p>
                                <li><a href="profile">Profile</a></li>
                                <li><a href="logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                        
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
   </header>
<div class="lis">
  <div class="topic"><p><strong>Topics To choose</strong></p></div>
  <div class="row">
            <a href="/topic/time-complexity" class="card education">
              <div class="overlay"></div>
            <div class="circle">

              <img src="/images/alarm-clock.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
            </div>
            <p>Time Complexity</p>
            </a>






            <a href="/topic/array" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/array.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Array</p>
            </a>

            <a href="/topic/stacks-and-queue" class="card education">
              <div class="overlay"></div>
            <div class="circle">

              <img src="/images/alarm-clock.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
            </div>
            <p>Stacks and Queue</p>
            </a>



            <a href="/topic/string" class="card education">
              <div class="overlay"></div>
            <div class="circle">

              <img src="/images/string.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
            </div>
            <p>String</p>
            </a>



            <a href="/topic/backtracking" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/backtracking.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Backtracking</p>
            </a>

            <a href="/topic/graph" class="card education">
              <div class="overlay"></div>
            <div class="circle">

              <img src="/images/graph.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
            </div>
            <p>Graph</p>
            </a>






            <a href="/topic/bit-manipulation" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/bitmanipulation.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Bit Manipulation</p>
            </a>

            






            <a href="/topic/greedy-algorithm" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/array.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Greedy Algorithm</p>
            </a>

            <a href="/topic/linked-list" class="card education">
              <div class="overlay"></div>
            <div class="circle">

              <img src="/images/alarm-clock.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
            </div>
            <p>Linked List</p>
            </a>






            <a href="/topic/dynamic-programming" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/graph.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Dyanamic Programming</p>
            </a>

            <a href="/topic/heaps-and-maps" class="card education">
              <div class="overlay"></div>
            <div class="circle">

              <img src="/images/alarm-clock.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
            </div>
            <p>Heaps and Maps</p>
            </a>






            <a href="/topic/tree-data-structure" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/array.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Tree Data Structure</p>
            </a>

            <a href="/topic/hashing" class="card education">
              <div class="overlay"></div>
            <div class="circle">

              <img src="/images/hashing.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
            </div>
            <p>Hashing</p>
            </a>






            <a href="/topic/maths" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/maths.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Maths</p>
            </a>


            <a href="/topic/binary-search" class="card credentialing">
              <div class="overlay"></div>
            <div class="circle">
            
              <img src="/images/binarysearch.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">

            </div>
            <p>Binary Search</p>
            </a>







            
          </div>



        </div>
        <footer>
          <div class="container">
              <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12">
                      <p class="copyright">A project By Tushar and Abhijeet
                  </div>
              </div>
          </div>
      </footer>
</body>

</html>