<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="../css/stylem.css">
    
</head>
<body>
    <div class="container">
    <h1>
        <tr>
            <td><button> <a href="/signup" >SIGN UP</a></button></td>
            <td><button> <a href="/signin" >SIGN IN</a></button></td>  
        </tr>
    </h1>
</div>
    
</body>
</html>