<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">


</head>
<body>
  <nav class="bar">
    <h1><a href="/">Interview Tracker</a></h1>
    <ul>
      <% if (user) { %>

        <li >Welcome, <%= user.email %></li>
        <li ><a href="/logout">Log out</a></li>
      <% } else { %>

        <li ><a href="/login">Log in</a></li>
        <li ><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>


<form action="/signup">

  <h2>Sign up</h2>
  <label for="name">Username</label>
  <input type="text" name="name" required />
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Sign up</button>
</form>

<footer>Copyright 2020 IITG</footer>

</body>
</html>


<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
</script>
